<div id="<%= dom_id friend %>">
  <% if friend.user == current_user%>
  <tr>
        <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= friend.user_id %></td>
          <td><%= button_to 'Delete', friend, class:"btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
  </tr>
  <%end%>
</div>
