

<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %></h1>
  <hr class="my-4">
  <p><%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %></p>
  <div>
  <%= link_to "Edit ", edit_friend_path(@friend), class:"btn btn-secondary" %> 
  <%= link_to "Back ", friends_path, class:"btn btn-secondary" %>
<br></br>
  <%= button_to "Destroy ", @friend,class:"btn btn-secondary btn-dark", method: :delete %>
</div>
</div>


